body{
    background: #ad7a3e;
}

header{
    display: flex;
    justify-content: space-between;
}

h1, h4 {
    text-align: center;
}

h3 {
    display: inline;
}

.container{
    background: #bcf8cb;
    width: 70%;
    margin: auto;
}

#fishlist{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fish{
    background: #f5f7e9;
    width: 400px;
    margin: .25em auto; 
    padding: 1em;
}

.price{
    text-align: right;
}

.collapsed{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.05s ease-out;
}

img.toggle{
    height: 20px;
}